<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <% @artist.songs.each do |song| %>
      <%= content_tag :li, link_to(song.name, song) %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
