<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artist.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <%= render :partial => 'songs/song_li', :collection => @artist.songs, :as => :song %>
  </ul>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
