<h1>New mixtape</h1>

<%= form_tag(mixtape_shares_path(@mixtape)) do %>
  <% if @mixtape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mixtape.errors.count, "error") %> prohibited this mixtape from being saved:</h2>

      <ul>
      <% @mixtape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag "Username" %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="actions">
    <%= submit_tag "Share" %>
  </div>
<% end %>

<% content_for :submenu do %>
  <%= link_to 'Back', mixtape_path(@mixtape) %>
<% end %>
