<%= form_for(@mixtape, :html => {:multipart => true}) do |f| %>
  <% if @mixtape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mixtape.errors.count, "error") %> prohibited this mixtape from being saved:</h2>

      <ul>
      <% @mixtape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name%><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, "Describe the mixtape"  %><br />
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for :songs, @songs do |s| %>
    <%= render 'songs/fields', :f => s %>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
