<%= form_for(@mixtape) do |f| %>
  <% if @mixtape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mixtape.errors.count, "error") %> prohibited this mixtape from being saved:</h2>

      <ul>
      <% @mixtape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Mixtape name" %><br />
    <%= f.text_field :name %>
  </div>

  <fieldset>
    <legend>Add Songs</legend>
    <%= f.fields_for :songs do |s| %>
      <%= render 'songs/fields', :f => s %>
    <% end %>
    </legend>
  </fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
