<%= form_for(@mixtape) do |f| %>
  <% if @mixtape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mixtape.errors.count, "error") %> prohibited this mixtape from being saved:</h2>

      <ul>
      <% @mixtape.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Mixtape name" %><br />
    <%= f.text_field :name %>
  </div>

  <fieldset>
    <legend>Songs</legend>
    
    <% if @mixtape.new_record? %>
      <%= f.fields_for :playlists do |p| %>
        <%= render 'playlists/fields', :f => p %>
      <% end %>    
    <% else %>
      <% @mixtape.playlists.order(:position).each_with_index do |playlist, index | %>
        <%= f.fields_for :playlists, playlist do |p| %>
          <div class="playlist fields">
            <div class="field">
              <%= p.number_field :position, :value => p.object.position || (index+1) %> - <%= p.object.song.name %>            
              <%= p.hidden_field :_destroy %>
              <%= link_to('Remove song', "javascript:void(0)", :class => "remove-song") %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    
    <%= f.text_field :song_names %>
    
    <p><%= link_to('Upload a new song', "javascript:void(0)", :class => "upload-song") %> or <%= link_to('choose an existing one', "javascript:void(0)", :class => "add-song") %></p>
    
    
    <%= new_child_fields_template(f, :playlists) %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>