<h1>Listing mixtapes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mixtapes.each do |mixtape| %>
  <tr>
    <td><%= mixtape.name %></td>
    <td><%= link_to 'Show', mixtape %></td>
    <td><%= link_to 'Edit', edit_mixtape_path(mixtape) %></td>
    <td><%= link_to 'Destroy', mixtape, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mixtape', new_mixtape_path %>
