<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mixtape.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <% @mixtape.songs.each do |song| %>
      <%= content_tag :li, link_to(song.name, song) %>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_mixtape_path(@mixtape) %> |
<%= link_to 'Back', mixtapes_path %>
