<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mixtape.name %>
</p>

<p>
  <b>Songs:</b>
  <ul>
    <%= render :partial => 'songs/song_li', :collection => @mixtape.songs.order(:position), :as => :song %>
  </ul>
</p>

<% content_for :submenu do %>
  <%= link_to 'Share', new_mixtape_shares_path(@mixtape) %> |
  <%= link_to 'Edit', edit_mixtape_path(@mixtape) %> |
  <%= link_to 'Back', mixtapes_path %>
<% end %>
