<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :artist_name %><br />
  <%#= f.text_field :artist_name %>
  <%= f.select :artist_name, artist_names, :prompt => 'Select an artist' %>
</div>

<div class="field">
  <%= f.label :audio %><br />
  <%= f.file_field :audio %>
</div>

<% if defined?(remove_song) && remove_song %>
<div class="field">
  <%= f.hidden_field :_destroy %>
  <%= link_to('Remove song', "javascript:void(0)", :class => "remove-song") %>
</div>
<% end %>