<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<% if @song.artist.present? %>
<p>
  <b>Artist:</b>
  <%= link_to @song.artist.name, @song.artist %>
</p>
<% end %>

<p>
  <b>Genres:</b>
  <ul>
  <% @song.genres.each do |genre| %>
    <li><%= link_to genre.name, genre %></li>
  <% end%>
  </ul>
</p>

<p>
  <b>Download:</b> <%= link_to @song.audio.original_filename, @song.audio.url %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
